# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local
.env.*.local

# Database & Uploads
data/*.db
uploads/*
!uploads/.gitkeep
!data/.gitkeep

# Vercel & Node
.vercel
.next
node_modules/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
